.list {
	width: 80%;
	height: 55rem;
	margin: 20px auto 0;
	padding: 1rem 1.4rem;
	border-radius: 2rem 0rem 0rem 2rem;
	border: 2px solid white;

	overflow-y: auto;
	
	.message {
		font-size: 20px;
		color: white;
		font-weight: bold;
		text-align: center;
	}
}
