.button {
	border: none;
	width: 100%;
	background-color: transparent;

	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 2.6rem;
	}
	
	&:hover {
		cursor: pointer;
		background-color: #c2c2c2;
		color: whitesmoke;
	}
}

