.button {
	border: none;
	width: 100%;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: transparent;

	img {
		width: 2.4rem;
	}
	
	&:hover {
		cursor: pointer;
		background-color: #c2c2c2;
		color: whitesmoke;
	}
}

